input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}
.mat-card{
  background:inherit;
}

.mat-form-field{
  width:100%;
  vertical-align: middle;
}
.mat-form-field.donvi{
  width:100px;
}
small{
  color:#6c757d;
  position: absolute;
  bottom: 0px;
  left:0;
}
.mat-radio-group{
  padding: 0 15px;
}

.mat-radio-button ~ .mat-radio-button{
  padding-left:10px;
}
.my-suffix {
  margin-left: 16px;
  vertical-align: bottom;
}
.my-suffix-edit{
  vertical-align: -3px;
  cursor: pointer;
  padding:2px;
}
.luongSuffix{
  cursor:pointer;
  vertical-align: 4px;
  margin-left:10px;
}
.mat-raised-button + .mat-raised-button{
  margin-left: 15px;
}
.table{
  table-layout: fixed;
}
.container{
  max-width:900px;
}
.mat-sidenav{
  width:280px;
}
.breakLineTd{
  white-space: pre-line;
}
.width100{
  width:100%;
}
.width100 tr:last-child td{
  border-bottom:none;
}
.width100 td:first-child{
  border-top:none;
  border-left:none;
}
.width100 td:last-child{
  border-top:none;
  border-right:none;
}
.td-border-none{
  border:none;
}
.vung-click{
  min-width: 65px;
  padding:0;
  vertical-align: middle;
  text-align: center;
}
.vung-click button{
  min-width: 40px;
  padding:0;
  font-family: "Times New Roman";
}

.disabledSpan{
  color:rgba(0,0,0,.38);
}

.lastTd{
  font-size:14px;
  text-align: right;
  color:rgba(0,0,0,.54);
}
.lastTd br{
  display:none;
}
.lastTd div{
  display:inline-block;
}
.lastTd .mat-form-field{
  width:40px;
  display: inline-block;
  vertical-align: baseline;
  margin:0 0 0 8px;
}
.lastTd .padding-x{
  padding: 0 15px;
}
.lastTd i{
  font-size:32px;
  vertical-align: middle;
}
@media (max-width:500px){
  .lastTd br{
    display:block;
  }
}
.custom-slide-toggle{
  padding:15px 10px 15px 10px;
  margin:20px 0 15px;
  border: 2px solid rgba(0,0,0,.2);
  border-radius:4px;
}
