<mat-sidenav-container class="salary-theme">
  <mat-sidenav-content>
    <app-nav></app-nav>
    <div class="container">
      <div class="top-content">
        <h1 class="text-center">Salary <br> Calculator</h1>
        <p>Tính Lương Gross và Net</p>
      </div>
      <form #grossNetForm="ngForm">
        <div class="row">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Lương</mat-label>
              <input matInput [(ngModel)]="luong" name="luong" type="text" inputmode="numeric" [cleave]="cleaveOptions"
                required />
              <span matSuffix class="luongSuffix" matTooltip="Đổi Đơn Vị"
                (click)="showCurrencyType=!showCurrencyType">{{currencyType}}<i class="material-icons"
                  style="font-size:16px;vertical-align: -2px;">loop</i></span>
              <mat-error *ngIf="grossNetForm.controls.luong?.invalid">Chưa Nhập Mức Lương</mat-error>
            </mat-form-field>
            <div [@openClose]="showCurrencyType ? 'open' : 'closed'">
              <div class="d-flex justify-content-between">
                <mat-radio-group class="text-center" [(ngModel)]="currencyType" name="currencyType">
                  <mat-radio-button (change)="toggleUSD()" value="VND">
                    VND
                  </mat-radio-button>
                  <mat-radio-button (change)="toggleUSD()" value="USD">
                    USD
                  </mat-radio-button>
                </mat-radio-group>
                <i class="material-icons" (click)="showCurrencyType=!showCurrencyType" style="cursor: pointer;"
                  matSuffix>expand_less</i>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Tỷ Giá</mat-label>
                <input matInput [(ngModel)]="conversionRate" name="conversionRate" type="text"
                  [disabled]="disabledUSD" inputmode="numeric" [cleave]="cleaveOptions"/>
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <div style="position:relative;">
              <mat-form-field appearance="outline"
                hintLabel="Nếu Cty đóng đủ bảo hiểm hoặc không biết rõ thì để trống">
                <i matSuffix matTooltip="{{luongBhTooltip()}}" matTooltipClass="breaklineTooltip"
                  class="material-icons">help_outline</i>
                <mat-label>Mức Lương Đóng Bảo Hiểm</mat-label>
                <input matInput [(ngModel)]="luongBH" name="luongBH" type="text" inputmode="numeric" class=""
                  [cleave]="cleaveOptions" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row py-2">
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Vùng</mat-label>
              <i class="material-icons" matSuffix matTooltip="Tra Cứu" style="cursor: pointer;"
                (click)="showHuongDanVung=!showHuongDanVung">
                search</i>
              <input matInput [(ngModel)]="vungLuong" name="vungLuong" pattern="[1-4]" type="number" inputmode="numeric"
                class="" required/>
              <mat-error *ngIf="grossNetForm.controls.vungLuong?.invalid">Chỉ Nhập Số Từ 1 Đến 4</mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <div style="position:relative;">
              <mat-form-field appearance="outline" hintLabel="Nếu không biết rõ thì để trống. Mặc định là 0">
                <i matSuffix matTooltip="{{phuThuocTooltip()}}" matTooltipClass="breaklineTooltip"
                  class="material-icons">help_outline</i>
                <mat-label>Số Người Phụ Thuộc</mat-label>
                <input matInput [(ngModel)]="phuThuoc" name="phuThuoc" type="text" inputmode="numeric" class=""
                  [cleave]="cleaveOptions" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row" [@openClose]="showHuongDanVung ? 'open' : 'closed'">
          <div class="col">
            <h3 [hidden]="!showHuongDanVung" class="text-center pt-4 pb-2">Bảng Tra Cứu Vùng</h3>
            <mat-form-field appearance="fill">
              <mat-label>Nhập Tên Tỉnh, Thành Phố</mat-label>
              <input matInput [disabled]="!showHuongDanVung" [(ngModel)]="filterKeyWord" [matAutocomplete]="auto"
                name="filterKeyWord" type="text" />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let vung of filteredThongTinVung" [value]="vung.TinhThanhPho">
                  <span>{{vung.TinhThanhPho}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <table class="table table-bordered text-center">
              <tr>
                <thead>
                  <tr>
                    <th style="width:13%"></th>
                    <th style="width:80%">Quận/Huyện/Thị Xã</th>
                    <th style="width:7%; min-width: 65px;">Vùng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vung of filteredThongTinVung| slice:showSoVungMin:showSoVungMax; let i=index">
                    <th class="align-middle">{{vung.TinhThanhPho}}</th>
                    <td colspan="2" style="padding:0;">
                      <table style="border:none;" class="width100">
                        <tr class="breakLineTd text-left" *ngIf="vung.Vung.I">
                          <td style="width:92%;">{{vung.Vung.I}}</td>
                          <td style="width:8%;" class="vung-click">
                            <button mat-raised-button (click)="vung1()">I</button>
                          </td>
                        </tr>
                        <tr class="breakLineTd text-left" *ngIf="vung.Vung.II">
                          <td>{{vung.Vung.II}}</td>
                          <td style="width:8%;" class="vung-click">
                            <button mat-raised-button (click)="vung2()">II</button>
                          </td>
                        </tr>
                        <tr class="breakLineTd text-left" *ngIf="vung.Vung.III">
                          <td>{{vung.Vung.III}}</td>
                          <td style="width:8%;" class="vung-click">
                            <button mat-raised-button (click)="vung3()">III</button>
                          </td>
                        </tr>
                        <tr class="breakLineTd text-left" *ngIf="vung.Vung.IV">
                          <td>{{vung.Vung.IV}}</td>
                          <td style="width:8%;" class="vung-click">
                            <button mat-raised-button (click)="vung4()">IV</button>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" class="lastTd">
                      <div class="">Items per page: </div>
                      <mat-form-field>
                        <mat-select [(ngModel)]="showSoVung" name="showSoVung" (selectionChange)="showSoVungChange()">
                          <mat-option  [value]=5>5</mat-option>
                          <mat-option  [value]=10>10</mat-option>
                          <mat-option  [value]=25>25</mat-option>
                          <mat-option  [value]=50>50</mat-option>
                          <mat-option  [value]=63>63</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <br>
                      <div class="padding-x">{{showSoVungMin+1}} - {{showSoVungMax}} of {{filteredThongTinVung.length}}</div>
                      <button mat-raised-button [disabled]="!checkSoVungMin()" matTooltip="Trang Trước" (click)="showPreviousSoVung()"><i class="material-icons">chevron_left</i></button>
                      <button mat-raised-button [disabled]="!checkSoVungMax()" matTooltip="Trang Sau" (click)="showNextSoVung()"><i class="material-icons">chevron_right</i></button>
                    </td>
                  </tr>
                </tbody>
              </tr>
            </table>
          </div>
        </div>
        <div class="row py-5">
          <div class="text-right col">
            <button class="btn btn-outline-dark btn-lg" [disabled]="!grossNetForm.controls.luong?.valid || !grossNetForm.controls.vungLuong?.valid " 
              (click)="grosstonet()" matTooltip="Tính Lương Thực Nhận" type="button">
              Gross → Net 
            </button>
          </div>
          <div class="text-left pl-0-mobile col">
            <button class="btn btn-outline-dark btn-lg" [disabled]="!grossNetForm.controls.luong?.valid || !grossNetForm.controls.vungLuong?.valid" 
              (click)="nettogross()" matTooltip="Tính Tổng Lương (chưa thuế)" type="button">
              Net → Gross
            </button>
          </div>
        </div>
      </form>
      
      <div *ngIf="submited" class="row mt-4 mb-4">
        <div class="col">
          <mat-expansion-panel disabled [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Kết Quả
              </mat-panel-title>
            </mat-expansion-panel-header>
            <table class="table table-expansion">
              <thead>
                <tr>
                  <th scope="col">Lương Gross</th>
                  <th scope="col">Bảo Hiểm</th>
                  <th scope="col">Thuế TNCN</th>
                  <th scope="col">Lương Net</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label>Lương Gross</label>{{LuongGross | number}}</td>
                  <td><label>Bảo Hiểm</label>{{TongBH | number}}</td>
                  <td><label>Thuế TNCN</label>{{TongTNCN | number}}</td>
                  <td><label>Lương Net</label>{{LuongNet | number}}</td>
                </tr>
              </tbody>
            </table>
          </mat-expansion-panel>
        </div>
      </div>
      <div *ngIf="submited" class="row mt-4 mb-4">
        <div class="col">
          <mat-accordion multi="true">
            <mat-expansion-panel  [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Chi Tiết Bảo Hiểm
                </mat-panel-title>
              </mat-expansion-panel-header>
              <table class="table table-expansion">
                <thead>
                  <tr>
                    <th scope="col">Xã Hội ({{thueBHXH}}%)</th>
                    <th scope="col">Y Tế ({{thueBHYT}}%)</th>
                    <th scope="col">Thất Nghiệp ({{thueBHTN}}%)</th>
                    <th scope="col">Tổng Các Khoản BH ({{ thueBHXH + thueBHYT + thueBHTN}}%)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label>Xã Hội ({{thueBHXH}}%)</label>{{TienBHXH | number}}</td>
                    <td><label>Y Tế ({{thueBHYT}}%)</label>{{TienBHYT | number}}</td>
                    <td><label>Thất Nghiệp ({{thueBHTN}}%)</label>{{TienBHTN | number}}</td>
                    <td><label>Tổng Các Khoản BH ({{ thueBHXH + thueBHYT + thueBHTN}}%)</label>{{TongBH | number}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Chi Tiết Thu Nhập Cá Nhân
                </mat-panel-title>
              </mat-expansion-panel-header>
              <br>
              <table class="table table-expansion">
                <tr>
                  <th>Giảm Trừ Bản Thân</th>
                  <th>Giảm Trừ Người Phụ Thuộc</th>
                  <th>Thu Nhập Tính Thuế</th>
                </tr>
                <tr>
                  <td>{{TienGiamTruBanThan | number}}</td>
                  <td>{{TienGiamTruNguoiPhuThuoc | number}}</td>
                  <td>{{ThuNhapTinhThue | number}}</td>
                </tr>
              </table>
              <br>
              <br>
              <table class="table table-expansion">
                <tr>
                  <th scope="col">Thu Nhập Tính Thuế</th>
                  <th scope="col">Thuế Suất</th>
                  <th scope="col">Tiền Nộp</th>
                </tr>
                <tr>
                  <td scope="row">Đến 5 triệu</td>
                  <td>{{to5}}%</td>
                  <td>{{Tiento5 | number}}</td>
                </tr>
                <tr>
                  <td scope="row">Từ 5 - 10 triệu</td>
                  <td>{{from5to10}}%</td>
                  <td>{{TienFrom5to10 | number}}</td>
                </tr>
                <tr>
                  <td scope="row">Từ 10 - 18 triệu</td>
                  <td>{{from10to18}}%</td>
                  <td>{{TienFrom10to18 | number}}</td>
                </tr>
                <tr>
                  <td scope="row">Từ 18 - 32 triệu</td>
                  <td>{{from18to32}}%</td>
                  <td>{{TienFrom18to32 | number}}</td>
                </tr>
                <tr>
                  <td scope="row">Từ 32 - 52 triệu</td>
                  <td>{{from32to52}}%</td>
                  <td>{{TienFrom32to52 | number}}</td>
                </tr>
                <tr>
                  <td scope="row">Từ 52 - 80 triệu</td>
                  <td>{{from52to80}}%</td>
                  <td>{{TienFrom52to80 | number}}</td>
                </tr>
                <tr>
                  <td scope="row">Trên 80 triệu</td>
                  <td>{{from80}}%</td>
                  <td>{{TienFrom80 | number}}</td>
                </tr>
                <tr>
                  <td scope="row">Thuế Thu Nhập Cá Nhân</td>
                  <td class="text-left" colspan="2">{{TongTNCN | number}}</td>
                </tr>
              </table>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

  <mat-sidenav #sidenav position="end" mode="over">
    <form #thueForm="ngForm">
      <div class="container px-4">
        <div class="mt-3">
          <h4>Bảo Hiểm</h4>
          <mat-form-field appearance="fill">
            <mat-label>Bảo Hiểm Xã Hội</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="thueBHXH" name="thueBHXH" type="number" inputmode="numeric"
              class="text-right " />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Bảo Hiểm Y Tế</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="thueBHYT" name="thueBHYT" type="number" inputmode="numeric"
              class="text-right " />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Bảo Hiểm Thất Nghiệp</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="thueBHTN" name="thueBHTN" type="number" inputmode="numeric"
              class="text-right" />
          </mat-form-field>
        </div>
        <div>
          <h5>Thu Nhập Tính Thuế</h5>
          <mat-form-field appearance="fill">
            <mat-label>Giảm Trừ Cá Nhân</mat-label>
            <span matSuffix>&nbsp;đ</span>
            <input matInput [(ngModel)]="giamTruBanThan" name="giamTruBanThan" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Giảm Trừ Người Phụ Thuộc</mat-label>
            <span matSuffix>&nbsp;đ</span>
            <input matInput [(ngModel)]="giamTruNguoiPhuThuoc" name="giamTruNguoiPhuThuoc" type="text"
              inputmode="numeric" class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
        </div>
        <div>
          <h5>Lương Cơ Sở</h5>
          <mat-form-field appearance="fill">
            <mat-label>Lương Cơ Sở</mat-label>
            <span matSuffix>&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongCoSo" name="InputLuongCoSo" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <h5>Lương Tối Thiểu Vùng</h5>
          <mat-form-field appearance="fill">
            <mat-label>Vùng 1</mat-label>
            <span matSuffix >&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongVung1" name="InputLuongVung1" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Vùng 2</mat-label>
            <span matSuffix >&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongVung2" name="InputLuongVung2" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Vùng 3</mat-label>
            <span matSuffix >&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongVung3" name="InputLuongVung3" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Vùng 4</mat-label>
            <span matSuffix >&nbsp;đ</span>
            <input matInput [(ngModel)]="InputLuongVung4" name="InputLuongVung4" type="text" inputmode="numeric"
              class="text-right" [cleave]="cleaveOptions" />
          </mat-form-field>
        </div>
        <div class="">
          <h5>Thuế Thu Nhập Cá Nhân</h5>
          <mat-form-field appearance="fill">
            <mat-label>Đến 5 Triệu</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="to5" name="to5" type="number" inputmode="numeric" class="text-right" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Từ 5 - 10 Triệu</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="from5to10" name="from5to10" type="number" inputmode="numeric"
              class="text-right" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Từ 10 - 18 Triệu</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="from10to18" name="from10to18" type="number" inputmode="numeric"
              class="text-right" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Từ 18 - 32 Triệu</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="from18to32" name="from18to32" type="number" inputmode="numeric"
              class="text-right" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Từ 32 - 52 Triệu</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="from32to52" name="from32to52" type="number" inputmode="numeric"
              class="text-right" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Từ 52 - 80 Triệu</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="from52to80" name="from52to80" type="number" inputmode="numeric"
              class="text-right" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Trên 80 Triệu</mat-label>
            <span matSuffix>&nbsp;%</span>
            <input matInput [(ngModel)]="from80" name="from80" type="number" inputmode="numeric" class="text-right" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-sidenav>
</mat-sidenav-container>