<app-nav></app-nav>
<div class="container main-container">
  <div class="top-content">
    <h1 class="text-center">Net Worth <br> Calculator</h1>
    <p>Tính giá trị tài sản ròng</p>
  </div>
  <form [formGroup]="netWorth" (ngSubmit)="onSubmit()" class="fluid-container l-form">
    <mat-horizontal-stepper>
      <!--Cash and cash equivalent-->
      <mat-step>
        <h3 class="text-center">Tài sản</h3>
        <mat-accordion>
          <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
              <mat-panel-title class="align-items-center">
                <i class="material-icons">monetization_on</i>
                Tiền
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-column l-nwInput" formGroupName="cashAndEquivalent">
              <mat-form-field appearance="outline">
                <mat-label>Tiền mặt</mat-label>
                <input inputmode="numeric" matInput formControlName="cashOnHand" [cleave]="cleaveOptions">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Tiền gửi ngân hàng</mat-label>
                <input inputmode="numeric" matInput formControlName="cashInBank" [cleave]="cleaveOptions">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="align-items-center">
                <i class="material-icons">home</i>
                Bất động sản
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-column l-nwInput" formGroupName="realEstate">
              <mat-form-field appearance="outline">
                <mat-label>Nhà ở</mat-label>
                <input inputmode="numeric" matInput formControlName="house" [cleave]="cleaveOptions">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Bất động sản khác</mat-label>
                <input inputmode="numeric" matInput formControlName="otherRealEstate" [cleave]="cleaveOptions">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="align-items-center">
                <i class="material-icons">equalizer</i>
                Đầu tư
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-column l-nwInput" formGroupName="investment">
              <mat-form-field appearance="outline">
                <mat-label>Cổ phiếu</mat-label>
                <input inputmode="numeric" matInput placeholder="Cổ phiếu" formControlName="stock"
                  [cleave]="cleaveOptions">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Trái phiếu</mat-label>
                <input inputmode="numeric" matInput placeholder="Trái phiếu" formControlName="bond"
                  [cleave]="cleaveOptions">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Đầu tư khác</mat-label>
                <input inputmode="numeric" matInput placeholder="Đầu tư khác" formControlName="otherInvestment"
                  [cleave]="cleaveOptions">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title class="align-items-center">
                <i class="material-icons">directions_car</i>
                Tài sản cá nhân
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex flex-column l-nwInput" formGroupName="personalAssets">
              <mat-form-field appearance="outline">
                <mat-label>Xe cộ</mat-label>
                <input inputmode="numeric" matInput formControlName="vehicle" [cleave]="cleaveOptions">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Trang sức & vàng</mat-label>
                <input inputmode="numeric" matInput formControlName="jewelry" [cleave]="cleaveOptions">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Tài sản cá nhân khác</mat-label>
                <input inputmode="numeric" matInput formControlName="personalProperty" [cleave]="cleaveOptions">
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- <div class="row">
          <h5 class="text-right align-self-center col-3">Tiền</h5>
          <div class="d-flex col-6" formGroupName="cashAndEquivalent">
            <mat-form-field appearance="outline">
              <mat-label>Tiền mặt</mat-label>
              <input inputmode="numeric" matInput formControlName="cashOnHand" [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Tiền gửi ngân hàng</mat-label>
              <input inputmode="numeric" matInput formControlName="cashInBank" [cleave]="cleaveOptions">
            </mat-form-field>
          </div>
        </div> -->
        <!-- <div class="row">
          <h5 class="text-right col-3">Bất động sản</h5>
          <div class="d-flex col-6" formGroupName="realEstate">
            <mat-form-field appearance="outline">
              <mat-label>Nhà ở</mat-label>
              <input inputmode="numeric" matInput formControlName="house" [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Bất động sản khác</mat-label>
              <input inputmode="numeric" matInput formControlName="otherRealEstate" [cleave]="cleaveOptions">
            </mat-form-field>
          </div>
        </div> -->
        <!-- <div class="row">
          <h5 class="text-right col-3">Đầu tư</h5>
          <div class="d-flex col-6" formGroupName="investment">
            <mat-form-field appearance="outline">
              <mat-label>Cổ phiếu</mat-label>
              <input inputmode="numeric" matInput placeholder="Cổ phiếu" formControlName="stock"
                [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Trái phiếu</mat-label>
              <input inputmode="numeric" matInput placeholder="Trái phiếu" formControlName="bond"
                [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Đầu tư khác</mat-label>
              <input inputmode="numeric" matInput placeholder="Đầu tư khác" formControlName="otherInvestment"
                [cleave]="cleaveOptions">
            </mat-form-field>
          </div>
        </div> -->
        <!-- <div class="row">
          <h5 class="text-right col-3">Tài sản cá nhân</h5>
          <div class="d-flex col-6" formGroupName="personalAssets">
            <mat-form-field appearance="outline">
              <mat-label>Xe cộ</mat-label>
              <input inputmode="numeric" matInput formControlName="vehicle" [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Trang sức & vàng</mat-label>
              <input inputmode="numeric" matInput formControlName="jewelry" [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Tài sản cá nhân khác</mat-label>
              <input inputmode="numeric" matInput formControlName="personalProperty" [cleave]="cleaveOptions">
            </mat-form-field>
          </div>
        </div> -->
        <div class="d-flex justify-content-end my-3">
          <button mat-raised-button matStepperNext type="button" class="btn btn-outline-dark">Next</button>
        </div>
      </mat-step>
      <!-- / Cash and cash equivalent-->
      <!--Real estate-->
      <!-- <mat-step formGroupName="realEstate">
        <h3 class="text-center">Bất động sản</h3>
        <div class="d-flex flex-column l-nwInput">
          <mat-form-field appearance="outline">
            <mat-label>Nhà ở</mat-label>
            <input inputmode="numeric" matInput formControlName="house" [cleave]="cleaveOptions">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Bất động sản khác</mat-label>
            <input inputmode="numeric" matInput formControlName="otherRealEstate" [cleave]="cleaveOptions">
          </mat-form-field>
          <div class="d-flex justify-content-between">
            <button mat-raised-button matStepperPrevious type="button" color="primary">Back</button>
            <button mat-raised-button matStepperNext type="button" color="primary">Next</button>
          </div>
        </div>
      </mat-step> -->
      <!-- / Real estate-->
      <!--investment-->
      <!-- <mat-step formGroupName="investment">
        <h3 class="text-center">Đầu tư</h3>
        <div class="d-flex flex-column l-nwInput">
          <mat-form-field appearance="outline">
            <mat-label>Cổ phiếu</mat-label>
            <input inputmode="numeric" matInput placeholder="Cổ phiếu" formControlName="stock" [cleave]="cleaveOptions">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Trái phiếu</mat-label>
            <input inputmode="numeric" matInput placeholder="Trái phiếu" formControlName="bond"
              [cleave]="cleaveOptions">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Đầu tư khác</mat-label>
            <input inputmode="numeric" matInput placeholder="Đầu tư khác" formControlName="otherInvestment"
              [cleave]="cleaveOptions">
          </mat-form-field>
          <div class="d-flex justify-content-between">
            <button mat-raised-button matStepperPrevious type="button" color="primary">Back</button>
            <button mat-raised-button matStepperNext type="button" color="primary">Next</button>
          </div>
        </div>
      </mat-step> -->
      <!-- / investment-->
      <!--personal Assets-->
      <!-- <mat-step formGroupName="personalAssets">
        <h3 class="text-center">Tài sản cá nhân</h3>
        <div class="d-flex flex-column l-nwInput">
          <mat-form-field appearance="outline">
            <mat-label>Xe cộ</mat-label>
            <input inputmode="numeric" matInput formControlName="vehicle" [cleave]="cleaveOptions">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Trang sức & vàng</mat-label>
            <input inputmode="numeric" matInput formControlName="jewelry" [cleave]="cleaveOptions">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Tài sản cá nhân khác</mat-label>
            <input inputmode="numeric" matInput formControlName="personalProperty" [cleave]="cleaveOptions">
          </mat-form-field>
          <div class="d-flex justify-content-between">
            <button mat-raised-button matStepperPrevious type="button" color="primary">Back</button>
            <button mat-raised-button matStepperNext type="button" color="primary">Next</button>
          </div>
        </div>
      </mat-step> -->
      <!-- / personal Assets-->
      <!--Liability-->
      <mat-step formGroupName="Liability">
        <h3 class="text-center">Nợ phải trả</h3>
        <mat-expansion-panel disabled [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="align-items-center">
              <i class="material-icons">payment</i>
              Các khoản vay, nợ
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex flex-column l-nwInput">
            <mat-form-field appearance="outline">
              <mat-label>Vay thế chấp</mat-label>
              <input inputmode="numeric" matInput formControlName="mortgage" [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Vay trả góp</mat-label>
              <input inputmode="numeric" matInput formControlName="loan" [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Vay trả thẻ tín dụng</mat-label>
              <input inputmode="numeric" matInput formControlName="creditCard" [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Vay đóng học phí</mat-label>
              <input inputmode="numeric" matInput formControlName="studentLoans" [cleave]="cleaveOptions">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Khoản nợ khác</mat-label>
              <input inputmode="numeric" matInput formControlName="otherDebt" [cleave]="cleaveOptions">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <div class="d-flex justify-content-between my-3">
          <button mat-raised-button matStepperPrevious type="button" class="btn btn-outline-dark">Back</button>
          <button mat-raised-button matStepperNext type="button" class="btn btn-outline-dark">Next</button>
        </div>
      </mat-step>
      <!-- / Liability-->
      <!-- Growth rate-->
      <mat-step formGroupName="growth">
        <h3 class="text-center">Tỷ lệ tăng trưởng</h3>
        <mat-expansion-panel disabled [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="align-items-center">
              <i class="material-icons">show_chart</i>
              Tỷ lệ tăng trưởng hằng năm của các khoản sau
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="d-flex flex-column l-nwInput">
            <mat-form-field appearance="outline">
              <mat-label>Tài sản</mat-label>
              <span matSuffix>&nbsp;%</span>
              <input type="number" inputmode="numeric" matInput formControlName="assetRatio" min="-500" max="500">
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Nợ phải trả</mat-label>
              <span matSuffix>&nbsp;%</span>
              <input type="number" inputmode="numeric" matInput formControlName="debtRatio" min="-500" max="500">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
        <div class="d-flex justify-content-between my-3">
          <button mat-raised-button matStepperPrevious type="button" class="btn btn-outline-dark">Back</button>
          <button mat-raised-button type="submit" (click)="showResult=true" class="btn btn-outline-dark"
            [ngx-scroll-to]="'#result'">Submit</button>
        </div>
      </mat-step>
      <!-- /Growth rate-->
      <!-- Icon overrides. -->
      <ng-template matStepperIcon="done">
        <mat-icon>done</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
    <!-- <div class="margin-btn d-flex justify-content-between">
      <button mat-raised-button type="button" color="warn" (click)="netWorth.reset()">Reset</button>
    </div> -->
  </form>

</div>
<div class="mt-5" id="result" *ngIf="showResult">
  <net-worth-result [data]="netWorth.value"></net-worth-result>
</div>