*{
  white-space: pre-wrap;
}
.top-content{
  text-align: center;
  color:#52575D;
  padding: 120px 0 40px;
  h1{
    font-size:5rem;
    font-weight: bold;
    outline: none;
    @media (max-width:425px) {
      font-size:4rem;
    }
  }
  p{
    font-weight: normal;
    font-size: 20px;
  }
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  display: none;
} 
.margin-btn{
  max-width: 300px;
  margin: 0 auto;
}

.l-form{
  max-width: 600px;
  margin: 0 auto;
} 

.main-container{
  max-width: 1000px;
}
.l-nwInput{
  max-width: 500px;
  margin: 0 auto;
}
i {
  padding-right: 5px;
}
