<!-- <nav class="navbar bg-dark navbar-expand-lg">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['net-worth/form']">Net worth</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['salary']">Salary</a>
      </li>
    </ul>
</nav> -->

<div class="container">
  <a href="" [ngClass]="{'opened': menuOpened, 'closed': menuClosed && menuClicked}"
    (click)="openMenu();$event.preventDefault()" class="nav-icon">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </a>
  <a href="" (click)="$event.preventDefault()" class="nav-logo">
    <img src="./assets/images/test.png">
  </a>
  <div [ngClass]="{'opened': menuOpened}" class="menu-wrapper">
    <ul>
      <a (click)="toggleHtmlScrollbar()" routerLink='/net-worth'>NET WORTH
        <p>CALCULATE YOUR NETWORTH</p>
      </a>
      <a (click)="toggleHtmlScrollbar()" routerLink='/salary'>GROSS AND NET
        <p>CALCULATE YOUR SALARY TO GROSS AND NET</p>
      </a>
    </ul>
  </div>
</div>

