@mixin responsive {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: 501px) {
      @content;
    }
  }

html, body {
    overflow:hidden;
    margin:0;
    padding:0;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#pp-nav li .active span, .pp-slidesNav .active span {
    background: #bbb;
}
#pp-nav span, .pp-slidesNav span {
    border-color: #bbb !important;
}
/* Sections
	 * --------------------------------------- */
 .section {
    background-attachment: fixed;
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1 {
    //background: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
    // background: linear-gradient(to bottom right, #89f7fe 0%, #66a6ff 100%);
    z-index: 5;
    background: #fff;
}
#section2 {
    // background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    //background: linear-gradient(to top left, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    // background: linear-gradient(to bottom right, #ec8c69 0%, #ed6ea0 100%);
    z-index: 4;
    background: #fff;
}
#section3 {
    // background: linear-gradient(to bottom right, #ec8c69 0%, #ed6ea0 100%);
    //background: linear-gradient(to top left, #a18cd1 0%, #fbc2eb 100%);
    // background: linear-gradient(to top left, #cd9cf2 0%, #f6f3ff 100%);
    // background: linear-gradient(to bottom right,#ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    z-index: 3;
    background: #fff;
}

/* Arrow
	 * --------------------------------------- */
 #arrow {
    width: 100%;
    height: 70px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 2%;
    left: 0;
    border: 0;
    outline: 0;
    z-index: 100;
    color: #52575D;
    background: transparent;
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    font-weight: bold;
    @include responsive{
        display: none !important;
    }
}
@keyframes ani-mouse {
	0% {
	    opacity: 1;
	    top: 29%;
	}
	15% {
	    opacity: 1;
	    top: 50%;
	}
	50% {
	    opacity: 0;
	    top: 70%;
	}
	100% {
	    opacity: 0;
	    top: 29%;
	}
}
.scroll-btn {
    > * {
        display: inline-block;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal;
        color: #52575D;
        letter-spacing: 2px;
        &:hover {
	        opacity: 0.8;
        }
    }
    .mouse {
        position: relative;
        display: block;
        width: 35px;
        height: 55px;
        margin: 0 auto 20px;
        box-sizing: border-box;
        border: 3px solid #52575D;
        border-radius: 23px;
        > * {
            position: absolute;
            display: block;
            top: 29%;
            left: 50%;
            width: 8px;
            height: 8px;
            margin: -4px 0 0 -4px;
            background: #52575D;
            border-radius: 50%;
            animation: ani-mouse 2.5s linear infinite;
        }
    }
}

/* Intro texts
	 * --------------------------------------- */
.intro {
    bottom: 100px;
    text-align: center;
    width: 100%;
    h1 {
        font-size: 12rem;
        font-weight: bold;
        color: #52575D;
        @include responsive{
            font-size:6rem;
        }
    }
    p{
        color:#52575D;
    }
}

/* Content page
	 * --------------------------------------- */
 .header {
    padding-top: 80px;
    text-align: center;
}
.header h1 {
    font-size: 5em;
    font-weight: bold;
    color: #52575D;
}
.header p {
    color: #52575D;
    font-size: 1.7em;
}
.page {
    width: 80%;
    margin: 60px auto;
    background:#52575D;
    padding: 60px;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}
.page p {
    font-style: 12px;
    margin: 20px 0 0 0;
    line-height: 1.35em;
    color: #333;
}

/*back ground stuff*/
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.bg-bubbles{
    position: absolute;
	width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    padding:0;
    margin:0;
	li{
		position: absolute;
		list-style: none;
		display: block;
		width: 40px;
		height: 40px;
		background-color: rgba(255, 255, 255, 0.2);
		bottom: -160px;
		animation: square 25s infinite;
        transition-timing-function: linear;
        z-index: 2;
		@for $i from 1 through 10 {
			$wh:(random(60)+40)+px;
			$delay: (random(5)*2s);
			$pos: (random(100)*1%);
			$dur: (random(20)+10)+s;
			&:nth-child(#{$i}){
				width: $wh;
				height: $wh;
				border-radius: 50%;
				left: $pos;
				animation-delay: $delay;
				animation-duration: $dur;
			}
		}
		
	}
}

@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-120vh) rotate(600deg); }
}