@mixin responsive {
    @media (max-width: 767px) {
      @content;
    }
  }
  
  @mixin mobile {
    @media (max-width: 501px) {
      @content;
    }
  }

html, body {
    overflow:hidden;
    margin:0;
    padding:0;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#pp-nav li .active span, .pp-slidesNav .active span {
    background: #bbb;
}
#pp-nav span, .pp-slidesNav span {
    border-color: #bbb !important;
}
/* Sections
	 * --------------------------------------- */
 .section {
    background-attachment: fixed;
    background-size: auto 80%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#section1 {
    background: linear-gradient(to bottom right, #89f7fe 0%, #66a6ff 100%);
    z-index: 5;
}
#section2 {
    background: linear-gradient(to bottom right, #ec8c69 0%, #ed6ea0 100%);
    z-index: 4;
}
#section3 {
    background: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    z-index: 3;
}

/* Arrow
	 * --------------------------------------- */
 #arrow {
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 0;
    outline: 0;
    z-index: 100;
    color: #BBB;
    background: transparent;
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    font-weight: bold;
    span {
        display: inline-block;
        position: relative;
        top: -18px;
        transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    }
    &:hover {
        background: #EC008C;
        span{
            top: 0;
            color: #FFF;
        }
    }
    @include responsive{
        display: none;
    }
}

/* Intro texts
	 * --------------------------------------- */
.intro {
    bottom: 100px;
    text-align: center;
    width: 100%;
    h1 {
        font-size: 12rem;
        font-weight: bold;
        color: #ffffff;
        @include responsive{
            font-size:8rem;
        }
    }
}

/* Content page
	 * --------------------------------------- */
 .header {
    padding-top: 80px;
    text-align: center;
}
.header h1 {
    font-size: 5em;
    font-weight: bold;
    color: #fff;
}
.header p {
    color: #f2f2f2;
    font-size: 1.7em;
}
.page {
    width: 80%;
    margin: 60px auto;
    background:white;
    padding: 60px;
    -webkit-box-sizing: border-box;
    /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box;
    /* <=28 */
    box-sizing: border-box;
}
.page p {
    font-style: 12px;
    margin: 20px 0 0 0;
    line-height: 1.35em;
    color: #333;
}

/*back ground stuff*/
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.bg-bubbles{
    position: absolute;
	width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    padding:0;
    margin:0;
	li{
		position: absolute;
		list-style: none;
		display: block;
		width: 40px;
		height: 40px;
		background-color: rgba(255, 255, 255, 0.2);
		bottom: -160px;
		animation: square 25s infinite;
        transition-timing-function: linear;
        z-index: 2;
		@for $i from 1 through 10 {
			$wh:(random(60)+40)+px;
			$delay: (random(5)*2s);
			$pos: (random(100)*1%);
			$dur: (random(20)+10)+s;
			&:nth-child(#{$i}){
				width: $wh;
				height: $wh;
				border-radius: 50%;
				left: $pos;
				animation-delay: $delay;
				animation-duration: $dur;
			}
		}
		
	}
}

@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-120vh) rotate(600deg); }
}