$c1: #3a8999;
$c2: #e84a69;
.slider{
    margin: 0 auto;
    width: 100%;
    h1{
        font-size: 5rem;
    }
    p{
        margin-top:50px;
    }
}
.slick-slide{
	background: $c1;
	height: 100vh !important;
	color: white;
	padding: 40px 0;
	font-size: 30px;
    text-align: center;
    transition: 0.5s;
    &:nth-child(odd){
        background: $c2;
    }
}
	
