/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.breaklineTooltip{
    white-space: pre-line;
}
.mat-tooltip{
    font-size:12px;
}
.mat-step-label {
    display: none !important;
}
.mat-horizontal-stepper-header .mat-step-icon {
    margin-right: 0px !important;
}